@import "../fonts/fonts";
@import "../2-themes/themes";
@import "../3-music/music";
@import "../4-garden/plants";

@mixin neon-text {
    text-shadow: 0px 0px 5px aqua, 0px 1px 30px blueviolet;
}
@mixin neon-box {
    box-shadow: 0px 0px 15px aqua;
    background-color: rgba(0, 255, 255, 0.404);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    //@include neon-text;
}

html {
    height: 100%;
    &, body {
        min-height: 100%;
        margin: 0;
    }
}

body {
    color: white;
    text-align: center;
    font-family: $fontstack;
    background-image: url("tile.gif");
}

nav {
    min-height: 200vh;
    margin: auto;
    width: 70%;
    padding-top: 100px;
    > ul {
        height: 100vh;
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fill, 30%);
        @media (orientation: portrait) {
            grid-template-columns: 1fr;
        }
        justify-content: center;
        align-items: baseline;

        
        word-wrap: break-word;

        > li {
            padding: 20px;

            min-height: 200px;
            height: fit-content;
            border-radius: 5px;
        }
    }
    
}



main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;


    header {
        #time {
            cursor: e-resize;
            user-select: none;
        }
    
        min-height: 460px;
        flex-grow: 6;
    }


    > section {
        flex-grow: 4;
        padding: 50px;
        padding-bottom: 180px;

    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 80%;
        overflow: hidden;
    }
    
}


