mixin music           
    section#music(data-songs=songs)
        button#prev.themed &lt;
        button#play.themed play
        button#nowPlaying.themed
            span Now playing:
            span#songNameContainer
                span#songName   
        .range.themed
            input#volume(type="range" value=10)
        button#next.themed &gt;
