mixin music           
    section#music(data-songs=songs)
        button#prev &lt;
        button#play play
        button#nowPlaying
            span Now playing:
            span#songNameContainer
                span#songName   
        .range 
            input#volume(type="range" value=10)
        button#next &gt;
