@font-face {
    font-family: happyMonkey;
    src: url("../fonts/HappyMonkey-Regular.ttf");
}

$fontstack: "happyMonkey", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
