@keyframes bouncing-background {
    0% {
        background-position-y: center;
    }

    25% {
        background-position-y: calc(50% + 5px);
    }

    50% {
        background-position-y: 50%;
    }

    75% {
        background-position-y: calc(50% - 5px);
    }

    100% {
        background-position-y: 50%;
    }
}

@mixin skies() {
    background-repeat: repeat-x;
    background-position: center center;


    animation-name: bouncing-background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


    background-size: auto 110%;

    &.first {
        background-image: url("skies/img/01-05.png");
    }

    &.second {
        background-image: url("skies/img/06-10.png");
    }

    &.third {
        background-image: url("skies/img/11-13.png");
    }

    &.fourth {
        background-image: url("skies/img/14-16.png");
    }

    &.fifth {
        background-image: url("skies/img/17-18.png");
        color: black;
    }

    &.sixth {
        background-image: url("skies/img/19-21.png");
    }

    &.seventh {
        background-image: url("skies/img/22-24.png");
    }
}
