mixin nav(title)
    li
        h2=title
        block
    
    

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Neonpastel.net
        link(rel="stylesheet", href="style.scss")

        script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js") 
    body
        nav
            ul
                +nav("Denperidge")
                    include:markdown-it nav/Denperidge.md
                +nav("Neonpastel.net")
                    include:markdown-it nav/Neonpastel.md
                +nav("Skunkat")
                    include:markdown-it nav/Skunkat.md
                +nav("Thannasanna")
                    include:markdown-it nav/Thannasanna.md
                +nav("Compromised Neopets Password")
                    include:markdown-it nav/Compromised Neopets Password.md
                +nav("Knowledgebase")
                    include:markdown-it nav/Knowledgebase.md



        main.garden
            
            header.skies 
                h1 Neonpastel
                span#time

            section.grass
                article#intro 
                    include:markdown-it sections/intro.md
                
                br

            footer 
                :flowers

        script(src="utils.js") 
        script(src="plants/plants.js")
        script(src="themes/themes.js") 
        script(src="timer.js") 
