include 1-nav/nav
include 3-music/music

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Neonpastel.net
        link(rel="stylesheet", href="index/style.scss")
        link(rel="shortcut icon", href="index/favicon.ico", type="image/x-icon")

        meta(property="og:title" content="Neonpastel.net")
        meta(property="og:url" content="https://neonpastel.net/")
        meta(property="og:description" content="My webcore projects & pages, and what I'm otherwise up to!")
        meta(property="og:image" content="https://neonpastel.net/favicon/favicon.png")
        meta(property="og:type" content="website")

        script(src="index/import.js" type="module")
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js") 
    body
        nav
            ul
                +nav("Denperidge")
                    include:markdown-it 1-nav/Denperidge.md
                +nav("Neonpastel.net")
                    include:markdown-it 1-nav/Neonpastel.md
                +nav("Skunkat")
                    include:markdown-it 1-nav/Skunkat.md
                +nav("Thannasanna")
                    include:markdown-it 1-nav/Thannasanna.md
                +nav("Compromised Neopets Password")
                    include:markdown-it 1-nav/Compromised Neopets Password.md
                +nav("Knowledgebase")
                    include:markdown-it 1-nav/Knowledgebase.md



        main.garden
            
            header.skies 
                h1 Neonpastel
                span#time

            section.grass
                article#intro 
                    :markdown-it
                        Hi, I hope you're doing well <3

                        There'll be links and stuff here in the future!
                        To other projects I'm working on, sites I think are neat

                        And resources I've used

                        Oh, you can at already find the repo for this website [on GitHub](https://github.com/Denperidge/neonpastel.net)

                        Have a nice day!
                

                +music 

                div.background

                br

            footer 
                each plant in plants
                    img(src=plant class="plant")

        script(src="index/utils.js")
        script(src="2-themes/themes.js")
        script(src="3-music/music.js")
        script(src="4-garden/plants.js")
        script(src="index/timer.js") 
