doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Neon Pastel
        link(rel="stylesheet", href="style.scss")

        script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js") 
    body
        header.skies 
            h1 Neonpastel
            span#time

        main.grass
            span.
                Hi<br>
                I hope you're doing well &lt;3
            br
            br
            span.
                There'll be links and stuff here in the future<br>
                To other projects I'm working on, sites I think are neat<br>
                And resources I've used<br>
                Oh, you can at already find the repo for this website
            a(href="https://github.com/denperidge/neonpastel.net") here

            br
            br
            span Have a nice day!

            
        
        footer 
            :flowers

        script(src="utils.js") 
        script(src="plants/plants.js")
        script(src="themes/themes.js") 
        script(src="timer.js") 
