doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Neon Pastel
        link(rel="stylesheet", href="style.scss")

        script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js") 
    body
        header 
            h1 Neonpastel
            span#time

        include music/music.pug

        main
            
        
        footer 
            :flowers

        script(src="utils.js") 

        script(src="plants/plants.js")
        script(src="skies/skies.js") 
        script(src="music/music.js" type="module")
        
        script(src="timer.js") 
