@keyframes bouncing-background {
    0% {
        background-position-y: center;
    }

    25% {
        background-position-y: calc(50% + 5px);
    }

    50% {
        background-position-y: 50%;
    }

    75% {
        background-position-y: calc(50% - 5px);
    }

    100% {
        background-position-y: 50%;
    }
}

.skies {
    background-repeat: repeat-x;
    background-position: center center;
    background-size: auto 110%;

    animation-name: bouncing-background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.grass {
    position: relative;
    .background {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: url("grass.png");
        z-index: -50;
    }
}
 
@mixin theme($name, $background, $hue) {
    .#{$name} {
        .skies {
            background-image: url("../2-themes/skies/#{$background}");
        }
        .grass {
            .background {
                filter: hue-rotate($hue);
            }
        }
    }

}

@include theme("first", "01-05.png", 80deg);
@include theme("second", "06-10.png", 50deg);
@include theme("third", "11-13.png", 150deg);
@include theme("fourth", "14-16.png", 120deg);
@include theme("fifth", "17-18.png", 200deg);
@include theme("sixth", "19-21.png", 140deg);
@include theme("seventh", "22-24.png", 15deg);

/*
.fifth {
    p {
        text-shadow: 2px 2px 5px black;
    }
}
*/

